
@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  width: 100%;
  font-family: 'Poppins', sans-serif;
}




/* contenuto totale */

.container {
  background: rgba(58, 58, 158, 0.8);
  width: 100%;
  padding-bottom: 30px;
}




/* title */

.header {
  text-align: center;
  padding: 4em;
  color: white;
}




/* form */

#survey-form {
  border: 1px solid black;
  border-radius: 10px;
  margin: 0 auto;
  width: 70%;
  padding: 30px;
  background: rgb(27 27 50 / 80%);
}




/* gruppo contenuti */

.form-group {
  margin: 30px;
  font-size: 20px;
  color: white;
}

.form-control {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
}

.input-radio, .input-checkbox {
  margin: 0px 10px 0px 10px;
}

.input-textarea {
  margin-top: 15px;
  width: 100%;
  height: 120px;
}

.submit-button {
  width: 100%;
  height: 40px;
  background: #37af65;
  border: none;
  border-radius: 5px;
}



/* responsive */


@media (max-width: 900px) {
  #survey-form {
    width: 100%;
    border-radius: 0;
    border: 1px solid black;
    border: none;
    padding: 10px 0px;
  }

  .header {
    padding: 20px 6px;
  }

  .form-group {
    margin: 17px;
  }

  .container {
    padding-bottom: 0;
  }
  



  
}